:root {
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  width: 100vw;
  background-color: darkorchid;
  color: white;
  margin: 0;
}

.contador {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.counter-button {
  margin-top: 20px;
  padding: 12px 24px;
  font-size: 1.1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: darkmagenta;
  color: white;
  transition: 0.3s ease;
}
.counter-button:hover {
  background-color: darkviolet;
  transform: scale(1.05);
}